# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Slurm log files
scripts/logs/
logs/

# Models
models/predictions*
models/model_size_investigation
*.keras

# Data
*.h5
*.csv

# Results
*.png
*.pdf